<div class="row">
	<h2>1. Name of your project</h2>
	<input style="width: 400px" type="text" class="form-control" ng-model="project_name"/>
</div>
<br/>
<br/>
<div class="row">
	<h2>2. Description of your project</h2>
		<textarea style="width: 400px" class="form-control" rows="3" ng-model="project_description"></textarea>
</div>
<br/>
<br/>
<div class="row">
		<h2>3. Pick your research model</h2>
	  <form enctype="multipart/form-data">
	    <input type="file" ng-file-select="on_model_upload($files)" >
	    </input>
	 </form>
</div>
<br/>
<br/>
<div class="row">
		<h2>4. Choose a dataset</h2>

		<select ng-model="dataset" style="width: 400px" class="form-control" ng-options="ds.name for ds in datasets"></select>
		
</div>
<br/>
<br/>
<div class="row">
	<button ng-click="create_project(project_name)" class="btn btn-danger">Create</button> 
</div>
