<div>
      <!-- START THE FEATURETTES -->
      <div class="row featurette">
          
          
        <div class="col-md-12">

          <!-- Users Table -->
          <table class="table table-striped" ng-if="users.length > 0">
          <h2>Curators</h2>
          <tr><th>Username</th><th>Admin</th><th></th></tr>
          <tr ng-repeat="user in users">
            <td>{{user.username}}</td>
            <td>{{user.is_admin ? "Yes" : "No"}}</td>
            <td><a ng-click="set_edit_user(user)" data-target="#edit_user_modal" data-toggle="modal">Edit</a>&nbsp;&nbsp;&nbsp;<a ng-click="delete_user(user._id, $index)">Delete</td>
          </tr>
        </table>
        <button data-target="#new_user_modal" class="btn btn-default" data-toggle="modal"><b>Add Curator</b></button>


        <br/>
         <br/>
         <br/>
         <br/>


          <!-- Datasets Table -->
          <table class="table table-striped" ng-if="datasets.length > 0">
          <h2>Clinical Note Sets</h2>
          <tr><th>Name</th><th>Description</th><th>Status</th><th>Number of Patients</th><th>Date Uploaded</th><th></th></tr>
          <tr ng-repeat="dataset in datasets">
            <td>{{dataset.name}}</td>
            <td>{{dataset.description}}</td>
            <td>{{dataset.status}}</td>
            <td>{{dataset.num_patients}}</td>
            <td>{{dataset.date}}</td>
            <td><a ng-click="set_dataset(dataset)" data-target="#dataset_edit_modal" data-toggle="modal">Edit</a>&nbsp;&nbsp;&nbsp;<a ng-click="delete_dataset(dataset._id, dataset.name, $index)">Delete</td>
          </tr>
        </table>
        <button data-target="#dataset_modal" class="btn btn-default" data-toggle="modal"><b>Add Clinical Note Set</b></button>

         <br/>
         <br/>
         <br/>
         <br/>


         <!-- Questionnaire Table -->
          <table class="table table-striped" ng-if="questionnaires.length > 0">
            <h2>Questionnaires</h2>
            <tr><th>Name</th><th>Description</th><th>Number of Questions</th><th></th></tr>

            <tr ng-repeat="q in questionnaires">
              <td>{{q.name}}</td>
              <td>{{q.description}}</td>
              <td>{{q.questions.length}}</td>
              <td>
                  <a ng-click="download_questionnaire(q._id)">Download</a>&nbsp;&nbsp;&nbsp;<a ng-click="edit_questionnaire(q._id)">Edit</a>&nbsp;&nbsp;&nbsp;<a ng-click="delete_questionnaire(q._id, q.name)">Delete</a></td>
              </td>
          </tr>
         </table>
         <button ng-click="create_questionnaire()" class="btn btn-default"><b>Create Questionnaire</b></button> 
          <button data-target="#questionnaire_modal" class="btn btn-default" data-toggle="modal"><b>Upload Questionnaire</b></button>
          <br/>
          <br/>
          <br/>
          <br/>


          <!-- Projects Table -->
          <table class="table table-striped" ng-if="projects.length > 0">
            <h2>Applications</h2>
            <tr><th>Name</th><th>Description</th><th>Questionnaire</th><th>Curators</th><th>Status</th><th>Completion</th><th></th></tr>

            <tr ng-repeat="project in projects">
              <td>{{project.name}}</td>
              <td>{{project.description}}</td>
              <td>{{get_questionnaire_by_id(project.questionnaire_id).name}}</td>
              <td>
                  <p ng-repeat="user_id in project.user_ids">
                        <span class="label label-default">{{get_user_name(user_id)}}</span>
                  </p>
              </td>
              <td>{{project.status}}</td>
              <td> {{(project.num_answers/project.num_hits)*100.0 | number:0 }}% ({{project.num_answers}}/{{project.num_hits}})</td>
              <td>
                  <a ng-click="download(project._id)">Download</a>&nbsp;&nbsp;&nbsp;<a ng-click="edit_project(project._id)">Edit</a>&nbsp;&nbsp;&nbsp;<a ng-click="delete_project(project._id, project.name, $index)">Delete</a></td>
              </td>
          </tr>
         </table>
          <button ng-click="create_project()" data-target="#project_modal" class="btn btn-default" data-toggle="modal"><b>Create Application</b></button>
        </div>

      <!-- /END THE FEATURETTES -->
    </div>
</div>







<!-- Modal for adding a dataset -->
<div class="modal fade" id="dataset_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Add Clinical Note Set</h4>
            </div>
            <div class="modal-body">
                  <div class="row">
                      <h4>Name</h4>
                      <input style="width: 400px" type="text" class="form-control" ng-model="name"/>
                    </div>
                    <br/>
                    <br/>
                    <div class="row">
                      <h4>Description</h4>
                        <textarea style="width: 400px" class="form-control" rows="3" ng-model="description"></textarea>
                    </div>
                    <br/>
                    <br/>
                    <div class="row">
                        <h4>Source</h4>
                        <select ng-model="folder" style="width: 400px" class="form-control" ng-options="x for x in raw_datasets"></select>
                    </div>      
                    <br/>
                    <br/>
            </div>
            <div class="modal-footer">
                <button id="close" ng-click="create_dataset()" type="button" class="btn btn-danger" data-dismiss="modal">Create</button>
            </div>
        </div>
    </div>
</div>




<!-- Modal for importing a model -->
<div class="modal fade" id="questionnaire_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Upload Questionnaire</h4>
            </div>
            <div class="modal-body">
                    <div class="row">
                        <h4>Questionnaire</h4>
                        <form enctype="multipart/form-data">
                          <input type="file" ng-file-select="on_questionnaire_upload($files)" >
                          </input>
                       </form>
                    </div>
                    <br/>
                    <br/>
                    <br/>
            </div>
            <div class="modal-footer">
                <button id="close" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>




<!-- Modal for editing an analyst -->
<div class="modal fade" id="edit_user_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Edit Curator</h4>
            </div>
            <div class="modal-body">
                  <div class="row">
                      <h4>Edit Username</h4>
                      <input id="edit_username" style="width: 400px" type="text" class="form-control" ng-model="edit_user.username"/>
                    </div>
                  <br/>
                  <br/>
                  <div class="row">
                      <h4>Set New Password</h4>
                      <input id="edit_user_password" type="password" style="width: 400px" type="text" class="form-control" ng-model="edit_user.password"/>
                    </div>
                  <br/>
                  <br/>

                  <div class="row">
                    <h4>Is Admin?</h4>
                  <select ng-change="update_user_is_admin(edit_user.is_admin)" ng-model="edit_user.is_admin" style="width: 200px" class="form-control" ng-options="t for t in [true, false]"></select>
                </div>
            </div>
            <div class="modal-footer">
                <button id="close" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>





<!-- Modal for creating an analyst -->
<div class="modal fade" id="new_user_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">New Curator</h4>
            </div>
            <div class="modal-body">
                  <div class="row">
                      <h4>E-mail</h4>
                      <input style="width: 400px" type="text" class="form-control" ng-model="new_user_email"/>
                    </div>
                  <br/>
                  <br/>
                  <div class="row">
                      <h4>Password</h4>
                      <input type="password" style="width: 400px" type="text" class="form-control" ng-model="new_user_password"/>
                    </div>

                  <br/>
                  <br/>

                  <div class="row">
                    <h4>Is this curator an admin?</h4>
                  <select ng-model="new_user_is_admin" style="width: 200px" class="form-control" ng-options="t for t in [true, false]"></select>
                </div>
            </div>
            <div class="modal-footer">
                <button id="close" ng-click="create_user(new_user_email, new_user_password, new_user_is_admin)" type="button" class="btn btn-default" data-dismiss="modal">Create</button>
            </div>
        </div>
    </div>
</div>






<!-- Modal for editing a project -->
<div class="modal fade" id="project_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">New Application</h4>
            </div>
            <div class="modal-body">
                  <div class="row">
                      <h4>Name</h4>
                      <input id="project_name" style="width: 400px" type="text" class="form-control" ng-model="project.name"/>
                    </div>
                    <br/>
                    <br/>
                    <div class="row">
                      <h4>Description</h4>
                        <textarea id="project_description" style="width: 400px" class="form-control" rows="3" ng-model="project.description"></textarea>
                    </div>
                    <br/>
                    <br/>
                    <div class="row">
                        <h4>Choose a Clinical Note Set</h4>

                        <select ng-change="update_project_dataset(project._id, project_dataset)" ng-model="project_dataset" style="width: 400px" class="form-control" ng-options="ds.name for ds in datasets"></select>
                        
                    </div>
                    <br/>
                    <br/>
                    <div class="row">
                        <h4>Choose a Questionnaire</h4>
                        <select ng-change="update_project_questionnaire(project._id, project_questionnaire)" ng-model="project_questionnaire" style="width: 400px" class="form-control" ng-options="questionnaire.name for questionnaire in questionnaires"></select>
                    </div>
                    <br/>
                    <br/>
     
              
                    <div class="row">
                      <h4>Curators</h4>
                        <table style="width: 400px" class="table table-striped">
                        <tr>
                          <th>Name</th>
                          <th></th>
                        </tr>

                        <tr ng-repeat="user_id in project.user_ids">
                          <td>
                            <p class="label label-default">{{get_user_name(user_id)}}</p>
                          </td>
                          <td>
                              <a ng-click="delete_user_from_project(user_id, $index)">Delete</a></td>
                          </td>
                        </tr>
                      </table>
                  </div>

                  <div class="row">
                        <p>Add Curator</p>
                        <select ng-change="add_user_to_project(selected_item._id)" ng-model="selected_item" style="width: 200px" class="form-control" ng-options="user.username for user in users"></select>
                    </button>
                    </div>





                    <br/>
                    <br/>



            </div>
            <div class="modal-footer">
                <button ng-hide="project.status == 'Active'" id="close" ng-click="build_project(project._id)" type="button" class="btn btn-danger" data-dismiss="modal">Build</button>
            </div>
        </div>
    </div>
</div>



<!-- Modal for editing dataset information -->
<div class="modal fade" id="dataset_edit_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Clinical Note Set Editor</h4>
            </div>
            <div class="modal-body">
                  <div class="row">
                      <h4>Name</h4>
                      <input id="dataset_name" style="width: 400px" type="text" class="form-control" ng-model="dataset.name"/>
                    </div>
                    <div class="row">
                      <h4>Description</h4>
                        <textarea id="dataset_description" style="width: 400px" class="form-control" rows="3" ng-model="dataset.description"></textarea>
                    </div>
            <br/>
            <br/>
          </div>
            <div class="modal-footer">
                <button id="close" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>







<!-- Modal for displaying form to invite workers -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Invite Analysts</h4>
            </div>
            <div class="modal-body">
                <h3 class="lead">Invite people by e-mail:</h3>
                  <div style="width: 400px"  class="input-group">
                        <input type="text" class="form-control" ng-model="worker_id">
                        <span class="input-group-btn">
                          <button class="btn btn-default" type="button" ng-click="add_analyst(worker_id)">add</button>
                        </span>
                    </div>
                    <ul>
                      <li ng-repeat="email in workers">
                        {{email}}
                      </li>
                    </ul>
            </div>
            <div class="modal-footer">
                <button id="close" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>