<div>
      <!-- START THE FEATURETTES -->
      <div class="row featurette">
          
        <div class="col-md-5">
              <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" src="img/medkit.png" alt="Generic placeholder image">
        </div>
          
        <div class="col-md-7">
          <h2 class="featurette-heading">hello {{user.id}}</h2>
          <p class="lead">You have {{projects.length}} projects. You may start a project <a href="#/create">here.</a></p>


          <table class="table table-striped" ng-if="projects.length > 0">
            <tr><th>Name</th><th>Description</th><th>Analysts</th><th>Completion Percentage</th><th></th></tr>

            <tr ng-repeat="project in projects">
              <td>{{project.name}}</td>
              <td>{{project.description}}</td>
              <td>
                  <p ng-repeat="analyst in project.analysts">
                        <span class="analyst"><i>{{analyst}}</i></span>
                  </p>
                  <p><a href ng-click="set_project(project)" data-target="#myModal" data-toggle="modal"> Invite Analysts</a></p>
              </td>
              <td>{{project.percentage}}%</td>
              <td>
                  <button class="btn btn-danger" ng-click="download(project._id)"> Download Data </button></td>
              </td>
            </tr>
         </table>
        </div>

      <!-- /END THE FEATURETTES -->
    </div>
</div>




<!-- Modal for displaying form to invite workers -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Invitation Form</h4>
            </div>
            <div class="modal-body">
                <h3 class="lead">Invite people by e-mail:</h3>
                  <div style="width: 400px"  class="input-group">
                        <input type="text" class="form-control" ng-model="worker_id">
                        <span class="input-group-btn">
                          <button class="btn btn-default" type="button" ng-click="add_analyst(worker_id)">add</button>
                        </span>
                    </div>
                    <ul>
                      <li ng-repeat="email in workers">
                        {{email}}
                      </li>
                    </ul>
            </div>
            <div class="modal-footer">
                <button id="close" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>