<div>
      <!-- START THE FEATURETTES -->
      <div class="row featurette">
          
        <div class="col-md-5">
              <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" src="img/medkit.png" alt="Generic placeholder image">
        </div>
          
        <div class="col-md-7">
          <h2 class="featurette-heading">what is medTurk?</h2>
          <p class="lead">medTurk (inspired by <a href="https://www.mturk.com/mturk/welcome">Amazon's Mechanical Turk</a>) supports clinical research by using the ingenuity of humans to convert unstructured clinical notes into structured data.</p>
        </div>
        
        <div class="col-md-7">
         <h2 class="featurette-heading">how do I begin?</h2>
          <p class="lead">Begin by creating your project <a href="#/create">here<a/>.</p>
        </div>
        
        <div class="col-md-7">
         <h2 class="featurette-heading">already have a project?</h2>
          <p class="lead">Start answering questions now</p>
            <p><a class="btn btn-danger" href="#/work" role="button"> Start &raquo;</a></p>
        </div>
      </div>
      <!-- /END THE FEATURETTES -->
    </div>
</div>
