<div class="row">

	<h2>{{questionnaire.name}}</h2>
	<table class="table table-striped">
	    <tr>
	    	<th>Name</th>
	    	<th>Description</th>
	    	<th>Number of Questions</th>
	    	<th></th>
	    </tr>
	    <tr>
	      <td>{{questionnaire.name}}</td>
	      <td>{{questionnaire.description}}</td>
	      <td>{{questionnaire.questions.length}}</td>
	      <td>
	         <a data-target="#questionnaire_modal" data-toggle="modal">Edit</a></td>
	      </td>
	    </tr>
	</table>
</div>
<br/>
<br/>
<div class="row">

	<table class="table table-striped">
	    <h2>Questions</h2>
	    <tr>
	    	<th>Question</th>
	    	<th>Type</th>
	    	<th>Frequency</th>
	    	<th>Choices</th>
	    	<th>Tags</th>
	    	<th>Keywords</th>
	    	<th></th>
	    </tr>

	    <tr ng-repeat="question in questionnaire.questions">
	      <td>{{question.question}}</td>
	      <td>{{question.type}}</td>
	      <td>{{question.frequency}}</td>
	      <td><span ng-repeat="choice in question.choices">{{choice.name}}, </span></td>
	      <td>
	      	<span ng-repeat="tag_id in question.tag_ids">
	      		<p class="label label-default" >{{get_tag_by_id(tag_id).name}}</p>
	      	</span>
	      </td>
	      <td><span ng-repeat="trigger in question.triggers">{{trigger.name}}, </span></td>
	      <td>
	         <a ng-click="edit_question(question)" data-target="#question_modal" data-toggle="modal">Edit</a>&nbsp;&nbsp;&nbsp;<a ng-click="delete_question(questionnaire._id, question._id, $index)">Delete</a></td>
	      </td>
	  </tr>
	 </table>
 	<button ng-click="create_question()" data-target="#question_modal" data-toggle="modal" class="btn btn-default"><b>Create Question</b></button> 
</div>
<br/>
<br/>
<div class="row">
    <h2>Tags</h2>
	<table style="width: 400px" class="table table-striped">
	    <tr>
	    	<th>Name</th>
	    	<th></th>
	    </tr>

	    <tr ng-repeat="tag in questionnaire.tags">
	      <td><span class="label label-default">{{tag.name}}</span></td>
	      <td>
	          <a ng-click="set_tag(tag)" data-target="#tag_modal" data-toggle="modal">Edit</a>&nbsp;&nbsp;&nbsp;<a ng-click="delete_questionnaire_tag(questionnaire._id, tag._id, $index)">Delete</a></td>
	      </td>
	  </tr>
    </table>
    <div style="width: 250px"  class="input-group">
	    <input type="text" class="form-control" ng-model="tag_name">
	    <span class="input-group-btn">
	      <button class="btn btn-default" type="button" ng-click="create_questionnaire_tag(questionnaire, tag_name)"><b>Create Tag</b></button>
	    </span>
	</div>
	<br/>
</div>





<!-- Modal for editing questionnaire attributes -->
<div class="modal fade" id="questionnaire_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Questionnaire Editor</h4>
            </div>
            <div class="modal-body">
                  <div class="row">
	                    <h4>Name</h4>
	                    	<input id="questionnaire_name" style="width: 400px" type="text" class="form-control" ng-model="questionnaire.name"/>
	                    </div>
	                <br/>
                    <br/>
                    <div class="row">
                    	<h4>Description</h4>
    					<textarea id="questionnaire_description" style="width: 400px" class="form-control" rows="3" ng-model="questionnaire.description"></textarea>
                    </div>
            </div>
            <div class="modal-footer">
                <button id="close" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>











<!-- Modal for editing a tag -->
<div class="modal fade" id="tag_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Tag Editor</h4>
            </div>
            <div class="modal-body">
                  <div class="row">
                      <h4>Name</h4>
                      <input id="questionnaire_tag_name" style="width: 400px" type="text" class="form-control" ng-model="tag.name"/>
                    </div>
                    <br/>
                    <br/>
                         
            </div>
            <div class="modal-footer">
                <button id="close" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>




<!-- Modal for question -->
<div class="modal fade" id="question_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h2 class="modal-title" id="myModalLabel">Question Editor</h2>
            </div> 
            <div class="modal-body">
                 
                   <div class="modal_section">
                 		<h4>What question should a curator answer about a patient?</h4>
                        <textarea id="question_text" style="width: 400px" class="form-control" rows="2" ng-model="question.question"></textarea>
                    </div>
		           
		           <br/>
		           <br/>

                    <div class="modal_section">
		           	  <h4>Is this question applicable to a patient once or multiple times?</h4>
                        <div class="btn-group">
                        	<a ng-repeat="question_frequency in question_frequencies" href="javascript:void(0)" ng-click="update_question_frequency(question_frequency)" ng-class="{ 'active' : question_frequency.value == question.frequency}" class="btn btn-default">
                        		{{question_frequency.name}}
                        	</a>
						</div>
                    </div>




                    <br/>
                    <br/>


                    <div class="modal_section">
		           	  <h4>Should a curator answer with free text or multiple choices?</h4>
                        <div class="btn-group">
                        	<a ng-repeat="question_type in question_types" href="javascript:void(0)" ng-click="update_question_type(question_type)" ng-class="{ 'active' : question_type.value == question.type}" class="btn btn-default">
                        		{{question_type.name}}
                        	</a>
						</div>
                    </div>

		          
		        	<br/>
      				<br/>

		        	<div class="modal_section" ng-if="question.type == 'radio'">
		        		<h4>What answer choices should curators should pick from?</h4>
		        		<table style="width: 400px" class="table">
						    <tr ng-repeat="choice in question.choices">
						    	<td><input type="text" ng-model="choice.name" ng-blur="update_choice_name(choice._id, choice.name)" /></td>
						      <td>
						          <a ng-click="delete_question_choice(choice, $index)">Delete</a></td>
						      </td>
						  </tr>
					    </table>



					    <div style="width: 250px"  class="input-group">
						    <input id="choice_name" type="text" class="form-control" ng-model="choice_name">
						    <span class="input-group-btn">
						      <button class="btn btn-default" type="button" ng-click="create_question_choice(choice_name)">Add Choice</button>
						    </span>
						</div>
					</div>

      				<br/>
		           	<div class="modal_section">
		           		<h4>What keywords in clinical notes are relevant to this question?</h4>


		            	<table class="table table-striped">
						    <tr>
						    	<th>Name</th>
						    	<th>Case Sensitive?</th>
						    	<th></th>
						    </tr>

						    <tr ng-repeat="trigger in question.triggers">
						      <td>{{trigger.name}}</td>
						      <td>
						      	{{trigger.case_sensitive}}
						      </td>
						      <td>
						          <a ng-click="delete_question_trigger(trigger._id, $index)">Delete</a></td>
						      </td>
						  </tr>
					   </table>

					   	<div class="input-group">
					    	<span class="input-group-addon">
        						<input ng-model="case_sensitive" type="checkbox">
      						</span>

      						<input ng-model="trigger" type="text" class="form-control">
      						<span class="input-group-btn">
        						<button ng-click="create_question_trigger(trigger)" class="btn btn-default" type="button">Add Keyword</button>
      						</span>
      					</div>
      				</div>
      				<br/>
      				<br/>

      					<!-- This section is for editing tags -->
      					<div class="modal_section" ng-if="question.tag_ids.length == 0">
      						<h4>Would you like to add tags to this question?</h4>
      						Note: If you'd like to add tags to this question, you must create tags in the <b>Tags</b> section before adding them here.
      					</div>
			        	<div class="modal_section" ng-if="question.tag_ids.length > 0">
			        		<h4>What tags do you want associated with this question?</h4>
			        		<table style="width: 400px" class="table table-striped">
							    <tr>
							    	<th>Name</th>
							    	<th></th>
							    </tr>

							    <tr ng-repeat="tag_id in question.tag_ids">
							      <td>
							      	<p class="label label-default">{{get_tag_by_id(tag_id).name}}</p>
							      </td>
							      <td>
							          <a ng-click="delete_question_tag(tag_id, $index)">Delete</a></td>
							      </td>
							  	</tr>
						    </table>

						    <div>
				            	<p>Add Tag</p>
				            	<select ng-change="create_question_tag(tag)" ng-model="tag" style="width: 200px" class="form-control" ng-options="tag.name for tag in questionnaire.tags"></select>
						      </button>
			        		</div>
						</div>

						


		        	<br/>
		        	<br/>

          </div>
            <div class="modal-footer">
                <button id="close" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

