<img style="width: 240px; height: 200px; float: left; padding-right: 30px" class="featurette-image img-responsive" data-src="holder.js/500x500/auto" src="img/medkit.png" alt="Generic placeholder image">

<div ng-if="projects.length > 0" class="row">
        <br/>
        <h4>Select a project to work on here:</h4>
        <select ng-change="on_change_project(project)" ng-model="project" style="width: 400px" class="form-control" ng-options="p.name for p in projects"></select>
        <br/>
        <p><b>Description:</b> {{project.description}}</p>
        <p><b>Status:</b> {{project.completion}}</p>
        <br/>
</div>

<div ng-if="projects.length == 0">
    <h3>No projects available</h3>
</div>

<div ng-if="is_project_complete">
    <h1>The {{project.name}} is finished</h1>
</div>

<div ng-if="!is_project_complete && projects.length > 0" class="row area">
        <h3>{{question.question}}</h3>
        <p ng-if="question.frequency == 'multiple'"><i>( You should answer this question for each clinical note. Thus, for this patient, there are {{hit.annotations.length}} questions to answer )</i></p>
            <br/>
            <br/>
        <div ng-hide="hide_timeline">
        <annotations-graph data="hit.annotations" callback="set_annotation(annotation)"></annotations-graph>
        </div>

        <table id="patient" class="table table-striped">
            <thead>
              <tr>
                <th></th>
                <th>Your Answer</th>
              </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                      <p class="kwic" ng-bind-html="annotation.kwic"></p></div>
                      <p>
                        <button ng-click="get_record(annotation.record_id)" data-target="#myModal" data-toggle="modal" class="btn">view entire note
                        </button> 
                      </p>
                    </td>
                    <td>
                        <form>
                            <div ng-if="question.type == 'radio'" class="btn-group">
                               <button type="radio" ng-repeat="choice in question.choices" class="btn btn-default {{annotation.choice_id == choice._id ? 'active' : ''}}" ng-click="create_hit_choice(choice)">{{choice.name}}</button>
                            </div>
                            <div ng-if="question.type == 'text'" class="btn-group">
                                <input type="text" class="form-control" ng-model="text_answer"/>
                                <button class="btn btn-default" ng-click="create_hit_text(text_answer)">Submit</button>
                            </div> 

                            <div ng-if="question.frequency == 'multiple'">
                                <br/>
                                <br/>
                                <button class="btn btn-danger" ng-click="update_hit_answered()">Next Patient >></button>
                            </div> 
                        </form>
                        <br/>
                    </td>
                </tr>
            </tbody>
        </table>
</div>


<!-- Modal for displaying full clincial note -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Clinical Note</h4>
            </div>
            <div class="modal-body">
                <div><p ng-bind-html="clinical_note"></p></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
                
